body{
  box-sizing: border-box;
  font-family: sans-serif;
  
}

p{
  margin: 0;
  padding: 0;
}

a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.container{
max-width: 1176px;
padding: 0 15px;
margin: auto;
}

.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 30px;
}

.main-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #0A143A;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  
  text-decoration: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.card:not(:nth-child(3n)){
  margin-right: 20px;
}

.card-image{
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #256EEB;
  margin-top: 15px;
  margin-bottom: 5px;
}

.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-price {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0A143A;
  margin-bottom: 10px;
}

.card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}

.card-text + .card-text {
  margin-top: 4px;
}

.sidebar-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #0A143A;
  margin-bottom: 23px;
}

.servise-card {
  margin-bottom: 25px;
  
}

.servise-image {
  margin-bottom: 7px;
}

.servise-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #0A143A;
  margin-bottom: 5px;
}

.servise-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #0A143A;
}

.servise-cards{
  padding-bottom: 12px;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 18px;
}

.copyright{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}


.footer-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  text-decoration: underline;
}

.footer-link-site {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
   color: #000000;
}


